table { 
	border-collapse: collapse; 
	margin:50px auto;
	width: 100%;
	}

th { a
	background: #3498db; 
	color: black; 
	font-weight: bold;
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: center; 
	font-size: 18px;
	}

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}

#filterInput {
	width: 100%;
}