<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/form.css">
    <title>Cost Manager - Add Transaction</title>
</head>

<body>

    <main role="main" class="container">
        <div class="content-section">
            <form name="registertionForm" onsubmit="addTransaction()" method="post">
                <div class="container">
                    <h1>Add Transaction</h1>
                    <p>Please fill this form to add a Transaction.</p>
                    <hr>
                    <label for="isincome"><b>Income?</b></label>
                    <input type="checkbox" name="isincome" id="isincome">
                    <label for="name"><b>Name</b></label>
                    <input type="text" placeholder="Enter Transaction Name" name="name" id="name" required>
                    <label for="category"><b>Category</b></label><br>
                    <select name="category" id="category" required>
                        <optgroup label="General">
                            <option value="General">General</option>
                        </optgroup>
                        <optgroup label="Food">
                            <option value="Supermarket">Supermarket</option>
                            <option value="Restaurants">Restaurants</option>
                        </optgroup>
                        <optgroup label="Phone">
                            <option value="Phone Accessories">Accessories</option>
                            <option value="Phone Apps">Apps</option>
                            <option value="Phone Repiar">Repiar</option>
                            <option value="Phone Maintenance">Maintenance</option>
                        </optgroup>
                        <optgroup label="Cars">
                            <option value="Gas">Gas</option>
                            <option value="Car Repiar">Repiar</option>
                            <option value="Car Maintenance">Maintenance</option>
                        </optgroup>
                    </select><br><br>
                    <label for="date"><b>Date</b></label>
                    <input type="date" name="date" id="date" required>
                    <label for="amount"><b>Amount</b></label>
                    <input type="number" placeholder="Enter Amount" name="amount" id="amount" required>
                    <label for="price"><b>Price</b></label>
                    <input type="number" placeholder="Enter Price" step=0.01 name="price" id="price" required>
                    <button class="btn btn-outline-info" id="moreinfo">Show More</button><br><br>
                    <div id="showmore">
                        <label for="description"><b>Description</b></label>
                        <input type="text" placeholder="Enter Description" step=0.01 name="description" id="description">
                        <label for="currency"><b>Currency</b></label><br>
                        <select name="currency" id="currency" required>
                            <option value="USD">USD</option>
                            <option value="NIS">NIS</option>
                        </select><br><br>
                        <label for="paymenttype"><b>Payment Type</b></label><br>
                        <select name="paymenttype" id="paymenttype" required>
                            <option value="Cash">Cash</option>
                            <option value="Credit">Credit</option>
                        </select><br><br>
                        <label for="isrepeat"><b>Repeat?</b></label>
                        <input type="checkbox" name="isrepeat" id="isrepeat">
                        <div id="hidden">
                            <label for="repeat">Repeats (between 1 and 60):</label>
                            <input type="range" id="repeat" name="repeat" value="0" step="1" min="0" max="60">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" value="Submit">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="../JS/connect.js"></script>
    <script src="../JS/addTransaction.js"></script>

</body>

</html>