<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- CSS -->
    <link rel="stylesheet" href="../themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../themes/cost-Manager.min.css" />
    <title>Cost Manager</title>
</head>

<body>
    <main role="main" class="container">
        <div data-role="header" style="overflow:hidden">
            <h1>Cost Manager</h1>
            <a href="#panel" data-icon="gear" class="ui-btn-right">Options</a>
            <div data-role="navbar">
                <ul>
                    <li><button class='navbarButton' id="home" value="home">Home</button></li>
                    <li><button class="ui-btn-active" id="report" value="balance">Balance Report</button></li>
                    <li><button class='navbarButton' id="getTransaction" value="transactions">My Transactions</button></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->
        <div data-role="panel" id="panel" data-display="push" data-position-fixed="true">
            <div>
                <button class="panelButton" id="about" value="about">About</button>
                <button class="panelButton" id="profile" value="profile">Profile</button>
                <button class="panelButton" id="settings" value="settings">Settings</button>
            </div>
            <div>
                <button class="panelButton" id="logout" value="welcome">Log Out</button>
                <a href="#" data-rel="close">Close panel</a>
            </div>
        </div><!-- /panel -->
        <canvas id="barChart" width="100px" height="75px"></canvas>
        <canvas id="pieChart" width="100px" height="75px"></canvas>
    </main>
    <!-- JQuery -->
    <script src="../JS/jquery-1.11.1.min.js"></script>
    <script src="../JS/jquery.mobile-1.4.5.min.js"></script>
    <!-- JS -->
    <script src="../JS/chart.js@2.8.0.js"></script>
    <script src="../JS/connect.js"></script>
    <script src="../JS/balance.js"></script>
</body>

</html>