<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="../themes/cost-Manager.min.css" />
    <link rel="stylesheet" href="../themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <script src="../JS/jquery-1.11.1.min.js"></script>
    <script src="../JS/jquery.mobile-1.4.5.min.js"></script>

    <title>Cost Manager</title>
</head>

<body>
    <main role="main" class="d-flex align-items-center flex-column" id=main>

        <div class="p-2">
            <button class="getBalance" id="report">Balance Report</button>
        </div>
        <div class="p-2">
            <button class='Transaction' id="addTransaction">Add Transaction</button>
        </div>
        <div class="p-2">
            <button class='Transaction' id="getTransaction">My Transactions</button>
        </div>
        <div class="p-2">
            <button class="test" id="test" onclick="window.vm.test()">Test</button>
        </div>
        <br>
    </main>

    <!-- JQuery -->

    <script src="../JS/home.js"></script>
    <script src="../JS/connect.js"></script>
</body>

</html>