<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <title>Cost Manager - Settings</title>

</head>
<body>
    <main role="main" class="container">
        <div>
            <form name="loginForm" onsubmit="updateSettings()" method="post">
                <div>
                    <h1>Settings</h1>
                    <hr>
                    <label for="weeklyBudget"><b>Weekly Budget</b></label>
                    <br>
                    <input type="number" placeholder="Enter Weekly Budget" name="weeklyBudget" id="weeklyBudget" min="0" title="Must contain valid number 0 or above!">
                    <br>
                    <label for="incomeColor"><b>Income Color</b></label><br>
                    <select name="incomeColor" id="incomeColor" required>
                      <option value="Green">Green</option>
                      <option value="Yellow">Yellow</option>
                      <option value="Red">Red</option>
                      <option value="Blue">Blue</option>
                      <option value="Black">Black</option>
                    </select><br>
                    <label for="expenseColor"><b>Expense Color</b></label><br>
                    <select name="expenseColor" id="expenseColor" required>
                      <option value="Green">Green</option>
                      <option value="Yellow">Yellow</option>
                      <option value="Red">Red</option>
                      <option value="Blue">Blue</option>
                      <option value="Black">Black</option>
                    </select><br>
                    <hr>
                    <div>
                        <button name="cancel" onclick="window.vm.previous()">Cancel</button>
                        <button type="submit" name="submit" value="Submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="../JS/settings.js"></script>
</body>
</html>
