<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="../themes/cost-Manager.min.css" />
    <link rel="stylesheet" href="../themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />

    <title>Cost Manager</title>
</head>

<body>
<main>
    <div data-role="header" style="overflow:hidden">
        <h1>Cost Manager</h1>
            <a href="#panel" data-icon="gear" class="ui-btn-right">Options</a>
    </div><!-- /header -->

        <div data-role="navbar" data-grid="c">
                <ul>
                <li><button class='navbarButton' id="home" value="home">Home</button></li>
                <li><button class="navbarButton" id="report" value="balance">Balance Report</button></li>
                <li><button class='ui-btn-active' id="getTransaction" value="transactions">My Transactions</button></li>
                </ul>
            </div><!-- /navbar -->

    <div data-role="panel" id="panel" data-display="push" data-position-fixed="true">
        <div>
            <button class="panelButton" id="about" value="about">About</button>
            <button class="panelButton" id="profile" value="profile">Profile</button>
            <button class="panelButton" id="settings" value="settings">Settings</button>
        </div>

        <div>
            <button class="panelButton" id="logout" value="welcome">Log Out</button>
            <a href="#" data-rel="close">Close panel</a>
        </div>
    </div><!-- /panel -->

        <div>
            <!--<input id="filterInput" type="text" placeholder="Search..">-->
            <a href="#" data-role="button" data-icon="delete" data-iconpos="notext">Delete</a>
            <table data-role="table" id="Table" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
                <thead>
                    <tr class="ui-bar-d">
                        <th data-priority="1">#</th>
                        <th data-priority="2">Date</th>
                        <th>Name</th>
                        <th data-priority="4">Category</th>
                        <th data-priority="5">Amount</th>
                        <th data-priority="6">Price</th>
                        <th data-priority="7">Currency</th>
                        <th data-priority="8">Description</th>
                        <th data-priority="9">Income</th>
                        <th data-priority="10">Payment Type</th>
                        <th data-priority="11">Remove</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                </table>
        </div>
    </main>
<!-- JQuery -->
<script src="../JS/jquery-1.11.1.min.js"></script>
<script src="../JS/jquery.mobile-1.4.5.min.js"></script>
<!-- JS -->
<script src="../JS/connect.js"></script>
<script src="../JS/transactions.js"></script>

</body>

</html>