<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/balance.css">
    <title>Cost Manager - Transactions</title>
</head>

<body>
    <main role="main" class="container">
        <div>
            <input id="filterInput" type="text" placeholder="Search..">
            <table id="Table">
                <thead>
                </thead>
                <tbody>
                <tbody class="labels">
                    <tr>
                        <td colspan="10">
                            <label for="Transactions">Transactions</label>
                            <input type="checkbox" name="Transactions" id="Transactions" data-toggle="toggle">
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Currency</th>
                        <th>Description</th>
                        <th>Income</th>
                        <th>Payment Type</th>
                    </tr>
                </tbody>
                </table>
        </div>
    </main>

    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="../JS/transactions.js"></script>
</body>

</html>