<!DOCTYPE html>
<html>
<head>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <!-- CSS -->
        <link rel="stylesheet" href="../themes/cost-Manager.min.css" />
        <link rel="stylesheet" href="../themes/jquery.mobile.icons.min.css" />
        <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />

        <title>Cost Manager</title>
    </head>

<body>
    <main>
        <div data-role="header" style="overflow:hidden">
            <h1>Cost Manager</h1>
        </div>

        <div>
            <br><button class="button" id="login" onclick="location.href='login.html'">Login</button>
            <button class="button" id="register" onclick="location.href='register.html'">Register</button>
        </div>
    </main>

    <!-- JQuery -->
    <script src="../JS/jquery-1.11.1.min.js"></script>
    <script src="../JS/jquery.mobile-1.4.5.min.js"></script>
    <!-- JS -->
    <script src="../JS/connect.js"></script>
</body>
</html>
